@import '../../SCSS/colors.scss';

$card-width: 380px;
$card-height: 140px;

.back-card {
    position: relative;
    margin: 40px 90px 30px 170px;
    width: $card-width;
    height: $card-height;
    border: 1px solid $dark-blue;
    border-radius: 6px;
    background-color: white;

    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);

    .teacher-card {
        position: relative;
        width: $card-width;
        height: $card-height;
        border: 2px solid $blue;
        border-radius: 6px;
        background: white;

        bottom: 4px;
        left: 2px;

        .teacher-info {
            font-size: 1em;
            font-weight: 500;
            margin: 26px 0 0 20px;
        }

        .teacher-logo {
            width: 90px;
            height: 90px;
            text-align: center;
            line-height: 90px;

            position: absolute;
            right: 5px;
            top: 5px;

            border: 2px solid $green;
            border-radius: 50px;

            color: $dark-red;
            font-size: 3em;
        }

        .calendar-button {
            background-color: $green;
            color: white;
            border-radius: 30px;
            width: 130px;
            outline: none;
            font-weight: 500;
            position: absolute;
            bottom: 10px;
            left: 32%;

            &:hover {
                color: $green;
                background-color: white;
                cursor: pointer;
            }
        }
    }
}

.popup {
    position: unset;
    width: 100vw;
    height: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background: white;
}

.center {
    width: 100%;
}   