@import '../../SCSS/colors.scss';

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: $very-light-gray;
}

.teachers-container {
    display: flex;
    flex-wrap: wrap;
}