@import '../SCSS/colors.scss';

.side-bar-container {
    position: fixed;
    width: 20%;
    min-width: 240px;
    height: 100%;
    background-color: $gray;
    opacity: 0.8;

    .side-bar-logo {
        height: 80px;
        text-align: center;
        color: $green;
        background-color: $dark-gray;
        font-size: 2em;
        font-weight: 500;
        letter-spacing: 3px;

        display: flex;
        align-items: center;
        justify-content: center;

        .side-logo {
            width: 64px;
            height: 64px;
            background: url('../statics/car2.png');
            position: absolute;
            transform: translateX(-180%);
            top: 13px;
            background-repeat: no-repeat;

        }

    }

    .safe-link {
        text-decoration: none;
        color: $blue;

        .side-bar-link {
            color: $blue;
            padding: 20px 0px;
            font-size: 1.25rem;
            text-align: center;

            &:hover {
                background-color: white;
                transform: translateX(-10px);
                transition-duration: 500ms;
    
                .safe-link {
                    color: $blue;
                }
            }
        }

        &.active {
            .side-bar-link {
                font-weight: 700;
                background-color: white;
                height: 8vh;
            }
        }

    }
    
}
