@import '../SCSS/colors.scss';

.sidebar-column {
    position: fixed;
    width: 20%;
    height: 100%;
    float: left;
}

.schools-column {
    position: fixed;
    height: 100%;
    width: 80%;
    right: 0;
}