@import 'SCSS/colors.scss';

* {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.inputs {
  display: inline-block;

  width: 300px;
  transform: translateX(100px); 
  position: absolute;
  bottom: 260px;

  .input {
      margin: 20px 0;
  }
  .inp {
      position: relative;
      margin: auto;
      width: 100%;
      max-width: 280px;
      .label {
          position: absolute;
          top: 16px;
          left: 0;
          font-size: 16px;
          color: $color_manatee_approx;
          font-weight: 500;
          transform-origin: 0 0;
          transition: all 0.2s ease;
      }
      .border {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background: $color_azure_radiance_approx;
          transform: scaleX(0);
          transform-origin: 0 0;
          transition: all 0.15s ease;
      }
      input {
          width: 100%;
          border: 0;
          font-family: inherit;
          padding: 12px 0;
          height: 48px;
          font-size: 16px;
          font-weight: 500;
          border-bottom: 2px solid $color_ghost_approx;
          background: none;
          border-radius: 0;
          color: $color_cloud_burst_approx;
          transition: all 0.15s ease;
          &:hover {
              background: $color_cloud_burst_3_approx;
          }
          &:focus {
              background: none;
              outline: none;
              + span {
                  color: $color_azure_radiance_approx;
                  transform: translateY(-26px) scale(0.75);
                  + .border {
                      transform: scaleX(1);
                  }
              }
          }
          &:not(:placeholder-shown) + span {
              color: $color_comet_approx;
              transform: translateY(-26px) scale(0.75);
          }
      }
  }
}

.button {
  background-color: $blue;
  width: 300px;
  height: 40px;

  cursor: pointer;

  text-align: center;
  line-height: 36px;
  font-size: 20px;
  color: white; 
  font-weight: 500;

  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

  &:hover {
      background-color: white;
      border: 1px solid $blue;
      color: $blue;
  }

  &:focus {
      outline: 0;
  }
}

.hidden {
    display: none;
}