//colors
$color_manatee_approx: #9098a9;
$color_azure_radiance_approx: #07f;
$color_ghost_approx: #c8ccd4;
$color_cloud_burst_approx: #223254;
$color_cloud_burst_3_approx: rgba(34,50,84,0.03);
$color_comet_approx: #5a667f;

$dark-red: #fa5c78;
$dark-blue: #467fd7;
$blue: #2daafe;
$green: #00c098;
$very-light-gray: #ededed;
$light-gray: #e2e2e2; 
$gray: #717171;
$dark-gray: #383838;