
.inProgress-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .image {
        width: 50%;
        height: 50%;
        padding: 80px 0 80px 0;
    }

    .info {
        width: 50%;
        text-align: center;
        margin-bottom: 100px;
        font-size: 2em;
    }
}