@import '../SCSS/colors.scss';


.register-page {
    display: flex;
    // align-content: center;

    .register-background {
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient($green, $green),
                    url('../statics/background_calendar.png');
        background-position: center;
        background-repeat: repeat;
        background-blend-mode: hard-light;
        filter: blur(5px);
    }

    .register-container {
        width: 100vw;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;

        .register-box {
            position: relative;
            width: 485px;
            height: 750px;
            background-color: white;
            margin: auto;
            
            box-shadow: 0px 0px 50px 4px rgba(0,0,0,0.7);

            display: flex;

            .register-logo {
                width: 104px;
                height: 104px;
                background-repeat: no-repeat;
                background: url('../statics/person_add.png');
                position: absolute;
                transform: translateX(180%);
                top: 40px;
            }

            .register-title {
                position: absolute;
                top: 170px;
                font-size: 2em;
                transform: translateX(60%);
            }



            .inputs {
                display: inline-block;

                width: 300px;
                transform: translateX(100px); 
                position: absolute;
                bottom: 180px;

                .input {
                    margin: 20px 0;
                }
                .inp {
                    position: relative;
                    margin: auto;
                    width: 100%;
                    max-width: 280px;
                    .label {
                        position: absolute;
                        top: 16px;
                        left: 0;
                        font-size: 16px;
                        color: $color_manatee_approx;
                        font-weight: 500;
                        transform-origin: 0 0;
                        transition: all 0.2s ease;
                    }
                    .border {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 2px;
                        width: 100%;
                        background: $color_azure_radiance_approx;
                        transform: scaleX(0);
                        transform-origin: 0 0;
                        transition: all 0.15s ease;
                    }
                    input {
                        width: 100%;
                        border: 0;
                        font-family: inherit;
                        padding: 12px 0;
                        height: 48px;
                        font-size: 16px;
                        font-weight: 500;
                        border-bottom: 2px solid $light-gray;
                        background: none;
                        border-radius: 0;
                        color: $color_cloud_burst_approx;
                        transition: all 0.15s ease;
                
                        &:focus {
                            background: none;
                            outline: none;
                            + span {
                                color: $green;
                                transform: translateY(-26px) scale(0.75);
                                + .border {
                                    transform: scaleX(1);
                                }
                            }
                        }

                        &:not(:placeholder-shown) + span {
                            color: $green;
                            transform: translateY(-26px) scale(0.75);
                        }
                    }
                }
            }
            
            .register-button {
                position: absolute;
                bottom: 120px;
                transform: translateX(32%);
            }

            .agreement {
                width: 100%;
                position: absolute;
                bottom: 12%;
                transform: translateX(20%);

                input {
                    position: absolute;
                }

                p {
                    float: left;
                    margin: -4px 0 0px 8px;
                }
            }

            .gray-info {
                position: absolute;
                bottom: 0;
                background-color: $light-gray;
                width: 100%;
                height: 50px;

                text-align: center;
                font-size: 20px;
                line-height: 50px;
                font-weight: 400;
                color: $gray;
            }
        }
    }

    .link {
        color: $blue;
        display: inline;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

}